
*{color: white}
th{
	width:50px;
	background-color: green;
}

th,td{
	text-align: center;
	border:1px white solid;
}

/*tr:nth-child(odd){
	background-color: red;
}
tr:nth-child(even){
	background-color: blue;
}*/

/*tr{

	background-color: black;
}*/
tr:nth-child(odd) td:nth-child(even){
	background-color: white;
	color: black
}
tr:nth-child(odd) td:nth-child(odd){
	background-color: black;
}
tr:nth-child(even) td:nth-child(odd){
	background-color: white;
	color:black;
}
tr:nth-child(even) td:nth-child(even){
	background-color: black;
}




div[id=nue] {
    width: 200px;
    height: 100px;
    margin-left: 100px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}










ul{
	height: 100%;
	width: 100%;
	display: block;
	margin: 0 auto;
}

li{
	position: absolute;
	left: 50%;
	top: 70%;
	display: block;
	background: transparent;
	border: 10px solid rgba(23,246,251, 1.0);
	border-radius: 500px;
	transition: all 0.5s ease;
}

li:first-child{
	margin-left: -130px;
	margin-top: -130px;
	width: 240px;
	height: 240px;
	border-color: #e000c9;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: Tanandara1 12s infinite linear;
}

li:nth-child(2) {
	margin-left: -120px;
	margin-top: -120px;
	width: 220px;
	height: 220px;
	border-color: #7500ad;
	border-top-color: transparent;
	border-right-color: transparent;
	animation: Tanandara2 12s infinite linear;
}

li:nth-child(3) {
	margin-left: -110px;
	margin-top: -110px;
	width: 200px;
	height: 200px;
	border-color: #0049d8;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: Tanandara3 4s infinite linear;
}

li:nth-child(4) {
	margin-left: -80px;
	margin-top: -80px;
	width: 140px;
	height: 140px;
	border-color: #0089ed;
	border-left-color: transparent;
	border-top-color: transparent;
	animation: Tanandara4 4s infinite linear;
}

li:nth-child(5) {
	margin-left: -70px;
	margin-top: -70px;
	width: 120px;
	height: 120px;
	border-color: #00f2a9;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: Tanandara5 4s infinite linear;
}

li:nth-child(6) {
	margin-left: -60px;
	margin-top: -60px;
	width: 100px;
	height: 100px;
	border-color: #009e2c;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: Tanandara6 4s infinite linear;
}

li:nth-child(7) {
	margin-left: -40px;
	margin-top: -40px;
	width: 60px;
	height: 60px;
	border-color: #d4d800;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	animation: Tanandara7 2s infinite linear;
}

li:nth-child(8) {
	margin-left: -30px;
	margin-top: -30px;
	width: 40px;
	height: 40px;
	border-color: #c18b00;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: Tanandara8 2s infinite linear;
}

/* Animations */

@keyframes Tanandara1 {
	0%  {transform: rotate(0deg);}
	10%  {transform: rotate(-25deg);}
	20%  {transform: rotate(47deg);}
	30%  {transform: rotate(-125deg);}
	40%  {transform: rotate(-25deg);}
	50%  {transform: rotate(25deg);}
	60%  {transform: rotate(165deg);}
	70%  {transform: rotate(42deg);}
	80%  {transform: rotate(180deg);}
	90%  {transform: rotate(-300deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes Tanandara2 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes Tanandara3 {
	0%  {transform: rotate(0deg);}
	60%  {transform: rotate(165deg);}
	70%  {transform: rotate(42deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes Tanandara4 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes Tanandara5 {
	0%  {transform: rotate(0deg);}
	10%  {transform: rotate(-25deg);}
	20%  {transform: rotate(47deg);}
	30%  {transform: rotate(-125deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes Tanandara6 {
	0%  {transform: rotate(0deg);}
	80%  {transform: rotate(180deg);}
	90%  {transform: rotate(-300deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes Tanandara7 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(-360deg);}	
}

@keyframes Tanandara8 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}





table[id=qqq] tbody tr:nth-of-type(1) td{
	background-color: red !important;
}